﻿

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/Resources/codingpic.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

    .jumbotron h1 {
        background: #fff;
        opacity: .7;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .jumbotron .lead {
        text-align: center;
        color: #fff;
    }
