﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Assignment2a._Default" %>


<asp:Content ContentPlaceHolderID="MainContent" runat="server">
         
    <div id="body">
        <div class="jumbotron">
            <h1>My Study Guide</h1>
            <h2>Coding is FUN!</h2> 
        <div class="container">
            <img src="url(../../Resources/codingpic.jpg)" /> <%--class="img-responsive col-lg col-md-12 col-sm-12" />--%>
                
        </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                
      <h3>I love <mark> Coding</mark></h3>
      <p>I fell in love with coding when I was in college many moons ago.
      I love it because it is about solving problems, it is about learning new things,
      it is about creating solutions and seeing it come to life.
      Sure it is challenging, frustrating and time consuming. 
      But It is FUN and never boring</p>
        
    <div class="col-sm-6">
      <h3> code has so many errors</h3>
        <div class="carousel-item item">
          <img class="d-block w-100" src="resources/frustrated.png" alt="Second slide">
        </div>
        
      
      
    </div>
    <div class="col-sm-6">
        <h3>When it finally works</h3>
      <div class="carousel-item item">
          <img class="d-block w-100" src="resources/happyguy.jpg" alt="Second slide">
       </div> 
    </div>
      
  </div>
</div>

    </div>
</asp:Content>
    
    
    
   
