﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="webBox.ascx.cs" Inherits="Assignment2a.usercontrols.webBox" %>
<asp:DataGrid ID="code_container" runat="server" CssClass="code"
        GridLines="None" Width="500px" CellPadding="2" >
        
      
    </asp:DataGrid>
<div runat="server" id="debug"></div>

